:root {
  --colored: #ff5733;
  --bg: #fff;
  --fg: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fg, #202020);
  background-color: var(--bg, #fff);
}

html {
  font-family: "Ubuntu", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 8rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

section > * {
  width: auto;
}

body a {
  text-decoration-color: var(--colored);
}

body a:active,
body a:hover,
body a:focus {
  color: var(--colored);
}

p,
ul,
img {
  max-width: 840px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

li > a > div {
  padding: 1.5rem;
  border-radius: 1rem;
  border: solid 2px var(--colored);
  color: var(--colored);
}

li > a {
  text-decoration: none;
}

.center-text {
  text-align: center;
}

li > a > div.main {
  background-color: var(--colored);
  border: none;
  color: var(--bg);
}

li > a:hover div,
li > a:active div,
li > a:focus div {
  transform: rotate(-5deg);
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.block ul {
  align-items: flex-start;
  list-style-type: square;
  list-style-position: inside;
}

.block li > a {
  text-decoration: underline;
  text-decoration-color: var(--colored);
}
